html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    background-image: url('web_background.jpg');
    background-size: cover;
}

logo {
    display: inline-flex;
    margin: 5px;
}

logo #logo {
    border-radius: 10px;
}

contact {
    height: 500px;
    left: 500px;
    font-size: 2rem;
    color: #f8f8ff;
    width: 500px;
    text-shadow: 1px 1px 1px #cdad7f;
    background-color: rgba(0, .0, 0, 0.5);
    border-radius: 10px;
}

footer {
    font-size: 1.25rem;
    text-align: center;
    color: #2a52be;
    font-weight: bold;
    margin-bottom: 100px;
}
