html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    background-image: url('web_background.jpg');
    background-size: cover;
}

logo {
    display: inline-flex;
    margin: 5px;
}

logo #logo {
    border-radius: 10px;
}

contact {
    display: block;
    position: relative;
    height: 340px;
    left: 675px;
    font-size: 2rem;
    color: #f8f8ff;
    width: 500px;
    text-shadow: 1px 1px 1px #cdad7f;
    background-color: rgba(0, .0, 0, 0.5);
    border-radius: 10px;
    padding-left: 25px;
    padding-top: 1px;
}

h1 {
    text-shadow: none;
}

footer {
    display: block;
    position: relative;
    left: 717px;
    padding-top: 50px;
    font-size: 1.25rem;
    color: #f8f8ff;
    font-weight: bold;
}

contact h4 :active {
	color: #f8f8ff;
	text-decoration: none;
}

@media only screen and (orientation: portrait) {
    html {
        background-image: url('cell_background.jpg');
        font-size: 12px;
    }
    contact {
        font-size: 1rem;
        margin-top: 50px;
        left: 225px;
        width: 200px;
        height: 135px;
		text-shadow: none;
    }
    footer {
        margin-top: 170px;
        left: 68px;
        text-align: center;
    }
}
